:root {
    --dark-charcoal: #342836;
    --chestnut: #9a4822;
    --maximum-yellow-red: #f2ad46;
    --weldon-blue: #7597a1;
    --columbia-blue: #c3d6dd;
}

* {
    font-family: "Rowdies", sans-serif;
}

/*************** Header ***************/

header {
    background-color: var(--columbia-blue);
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--dark-charcoal);
}
header img {display: block; padding: 16px 10px;
}
header span {font-size: 4rem;
}
header div {font-size: 1.5rem;
}

/*************** Navigation ***************/

nav {
    background-color: var(--maximum-yellow-red);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li a {
    color: var(--dark-charcoal);
    text-decoration: none;
    padding: .75rem;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
nav ul li.active a {background-color: var(--chestnut); color: white;}
nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/*************** Hamburger ***************/

button#hamburger {
    position: absolute;
    top: 0;
    right: 0;
	background: none;
	border: none;
	display: block;
	padding-bottom: .6rem;
	font-size: 2rem;
	color: var(--dark-charcoal);
	text-align: center;
	width: 50px;
	cursor: pointer;
}

button#hamburger::before {
	content: "\2630";
}
button#hamburger.show::before {
	content: "x";
}

/************ Hamburger open and close *************/

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
nav.show {
    grid-template-rows: 1fr;
}
nav ul {overflow: hidden;}

/*************** Page Styling ***************/

main h1, main h2, main h3, main p, main a {
    margin: .5rem 10px;
    padding: 0px 10px;
    color: var(--dark-charcoal);
}

/*************** Hero Image ***************/

.hero {
    max-width: 100%;
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
    display: block;
}
.hero a{
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 100px;
    text-align: center;
    color: var(--dark-charcoal);
    border: solid 1px #000;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--columbia-blue);
}

/*************** Events and Weather ***************/

section.ew {margin: .5rem 10px;}
section.ew div {background-color: #eee;}
section.ew h2 {
    margin: 0;
    background-color: var(--maximum-yellow-red);
    color: var(--dark-charcoal);
    padding: 5px 10px;
    text-align: center;
}
div.events p {
    margin: .75rem 10px;
    padding-left: 80px;
    color: var(--dark-charcoal);
}
div.weather div {
    display: flex;
}
div.weather p {
    margin: .5rem 0;
    font-size: .8rem;
    color: var(--dark-charcoal);
}

.weather {
    min-height: 100px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather h2 {
    align-self: stretch; 
    text-align: center; 
}

#forecast p {
    margin: .5rem 10px;
    color: var(--dark-charcoal);
    text-align: center;
}

/*************** Home Spotlight ***************/

#spot div {
    background-color: #eee;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}
#spot h2 {
    background-color: var(--maximum-yellow-red);
    margin: 0;
    padding: .3rem 0;
    font-size: 1.1rem;
}
#spot p {
    margin: 0;
    padding: .5rem;
}
#spot img {
    width: 100px;
    height: auto;
}

#spot {
    min-height: 150px; 
}

/*************** Directory ***************/

div.theButtons {width: 100%; text-align: center;}
div.theButtons button.active {background-color: var(--chestnut); color: white;}
div.theButtons button {
  margin: 0 1rem; 
  padding: .7rem 1rem;
  border-radius: 10px;
  border: 1px solid #666;
}
div#members {
  margin: 0 2vw;
}

div.grid {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}
div.grid section {
  text-align: center;
  margin: 1rem 0;
  border: solid 1px #aaa;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}
div.grid img:first-child {width: 100%; height: auto;}
div.grid h3 {margin: .2rem 0;}
div.grid p {margin: .2rem 0;}


div.list section {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  margin: .5rem 0;
  padding: 5px;
  border: solid 1px #aaa;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}
div.list img:first-child {display: none;}

/*************** Join ***************/

.sbs {padding: 3rem;}
form.designOne {
    margin: 1rem 2%;
}
.designOne label {
    display: block;
    font-size: 1.2rem;
    color: var(--dark-charcoal);
    padding-top: .2rem;
}
.designOne h3 {
    font-size: 1.5rem;
    color: var(--dark-charcoal);
    margin: 1.5rem 0 .5rem 0;
    border-bottom: 1px solid #342836;
}

.designOne input[type=text],
.designOne input[type=tel],
.designOne input[type=date],
.designOne input[type=email],
.designOne textarea,
.designOne select {
    display: block;
    margin: .1rem 0 1rem 0 ;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 5px;
    border-left-width: 6px;
    border-left-color: var(--maximum-yellow-red);
    font-size: 1rem;
    color: var(--dark-charcoal);
    width: 250px;
}

.designOne input:required {border-left-color: var(--maximum-yellow-red);}
.designOne input:focus {border-left-color: var(--chestnut); outline:none;}
.designOne textarea:focus {border-left-color: var(--chestnut); outline:none;}
.designOne select:focus {border-left-color: var(--chestnut); outline:none;}

.designOne input[type=submit] {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #9a4822;
    color: white;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;

    
    animation-name: grow;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes grow {
    0% {}
    50% { scale: 1.5; background-color: var(--maximum-yellow-red);}
    100% {}
}

#results {
    background-color: #F4F1DE;
    padding: 0 1rem;
    margin: 10px;
    border: 1px solid #9a4822;
    border-radius: 6px;
    }
   

/*************** Modal ***************/

.mslvl aside {
    border: solid 1px #444;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--columbia-blue);
    text-align: center;
    margin-bottom: 1rem;

    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
}

@keyframes slidein {
    0% {
      margin-top: 0px;
      background-color: var(--columbia-blue);
    }
    50% {
      margin-top: 50px;
      background-color: var(--weldon-blue);
    }
    100% {
        margin-top: 0px;
        background-color:  var(--columbia-blue);
      }
  }

#mlModal {
    position: relative;
    border: 2px solid #f2ad46;
    border-radius: 10px;
    padding: 1rem;
    background-color: #eee;
    box-shadow: 0 0 20px #777;
    width: 80%;
}

#mlModal div {
    display: grid;
    grid-template-columns: auto 50px;
    border-bottom: dashed 1px #aaa;
  }
  
  #mlModal h4 {
    font-size: 1.5rem;;
    font-weight: 500;
    margin: 0;
    color: var(--dark-charcoal);
  }

  #mlModal span {
    font-size: 1rem;
  }

  ::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  #mlModal button {
    width: 44px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ccc;
    font-size: 1.5rem;
  }

  #mldetails {
    color: var(--dark-charcoal);
  }


  /*************** Discover  ***************/

#allplaces div {
    margin: 1rem 8px;
    padding: 10px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    gap:10px;
    grid-template-areas: 
    "name" 
    "photograph"
    "description"
    "cost"
    "location"
    "button"
  }
  #allplaces div h2 {
    margin: 1rem 0px;
    grid-area: name;
    font-size: 2rem;
  }

  #allplaces div img {
    width: 500px;
    grid-area: photograph;
  }

  #allplaces div p {
    margin: 1rem 0px;
    grid-area: description;
  }

  #allplaces div address {
    margin: 1rem 0px;
    grid-area: location;
  }

  #allplaces div button {
    margin: 1rem 0px;
    background-color: var(--chestnut);
    color: #eee;
    border:none;
    border-radius: 30px;
    padding: 1rem;
    grid-area: button;
  }

  @media only screen and (max-width: 40rem) { /* 640px */
    #allplaces {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    #allplaces div {
        display: grid;
        grid-template-areas:
            "name"
            "photograph"
            "description"
            "location"
            "button";
        text-align: center;
    }

    #allplaces div h2 {
        grid-area: name;
    }

    #allplaces div img {
        grid-area: photograph;
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    #allplaces div p {
        grid-area: description;
    }

    #allplaces div .location {
        grid-area: location;
    }

    #allplaces div button {
        grid-area: button;
        margin-top: 10px;
    }
}

#allplaces div img {
    max-width: 100%;
}

/* Medium and Large Screens: Apply hover effect */
@media only screen and (min-width: 40rem) {
    #allplaces div img {
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    #allplaces div img:hover {
        transform: scale(1.1);
        opacity: 0.8;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }
}


/*************** Footer ***************/

footer {
    background-color: var(--columbia-blue);
    color: var(--dark-charcoal);
    min-height: 200px;
}
footer section {
    padding: 2rem 10px;
}
footer section.social {
    display: flex;
    justify-content: center
}
footer img {
    width: auto;
    height: 44px;
    margin: 0 10px;
    color: var(--dark-charcoal);
}
footer p {
    margin: .25rem;
}

