@media only screen and (min-width: 64rem) {
    button#hamburger {
        display: none;
    }

  nav {grid-template-rows: 1fr;}

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    nav ul li:last-child a {border:none;}

    /*************** Events and Weather ***************/
    section.ew {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 10px;
    }

    /*************** Join ***************/
    .sbs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*************** Spotlights ***************/
    #spot {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    header, main, nav, footer {
        max-width: 100%;
        margin: 0 auto;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*************** Discover ***************/

    @media only screen and (min-width: 64.1rem) { /* 1025px+ */
        #allplaces {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    
        #allplaces div {
            display: grid;
            grid-template-areas: 
                "name name"
                "photograph description"
                "photograph location"
                "button button";
            grid-template-columns: auto 1fr;
            align-items: center;
            padding: 1rem;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
    
        #allplaces div h2 {
            grid-area: name;
            text-align: center;
        }
    
        #allplaces div img {
            grid-area: photograph;
            width: 350px;
        }
    
        #allplaces div p {
            grid-area: description;
        }
    
        #allplaces div .location {
            grid-area: location;
            font-weight: bold;
        }
    
        #allplaces div button {
            grid-area: button;
            justify-self: center;
        }
    }    


}

